@import '../../styles/mixins';

.template {
  display: flex;
  height: 100vh;
  width: 100%;

  @include mobile {
    flex-direction: column;
  }
}

.aside {
  height: 100%;
  width: 312px;
  background: #1b222c;

  @include mobile {
    height: auto;
    width: 100%;
    order: 2;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 188px;
  width: 100%;
  padding: 8px;
  background: url('./background.jpg');

  @include mobile {
    display: none;
  }
}

.content {
  overflow: auto;
  flex: 1 1 600px;
  background: #121923;

  @include mobile {
    flex: 1 1 auto;
    width: 100%;
    order: 1;
  }
}
