.account {
  display: flex;
  flex-direction: row;

  &Text {
    color: #f5f5f7;
    font-size: 14px;
    line-height: 16px;

    > *:first-of-type {
      margin-bottom: 8px;
    }
  }
}

.img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
}
