@import '../../styles/variables';

.modal {
  border-radius: $unit * 2.5;
  min-width: $unit * 100;
  min-height: $unit * 50;
  padding: $unit * 6;
  max-width: unset;
}

.confirmModalActions {
  display: flex;
  justify-content: flex-end;
  gap: $unit * 2;
  margin-top: auto;
  padding: 0 !important;
}

.modalButton {
  text-transform: none;
}

.modalRoot {
  z-index: 13000;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
