@import '../../styles/variables';
@import '../../styles/mixins';

.modal {
  max-width: unset;
  border-radius: $unit * 2.5;

  @media screen and (max-width: $tablet) {
    width: 100vw;
    min-width: unset;
    height: 100vh;
    max-height: unset;
    margin: 0 !important;
  }
}

.confirmModalActions {
  display: flex;
  justify-content: flex-end;
  padding: 0 !important;
  margin-top: auto;
  gap: $unit * 2;
}

.modalButton {
  text-transform: none;
}

.modalRoot {
  z-index: 13000;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalLoaderText {
  margin-top: 80px;
  text-align: center;
  white-space: pre-line;
}

.modalLoader {
  display: flex;
  min-width: 384px;
  min-height: 440px;
  align-items: center;
  justify-content: center;
  padding: 32px;
  background: rgb(255 255 255 / 2%);
}

.alwaysShowCloseIcon {
  display: flex !important;
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;

  @include mobile {
    display: block;
  }
}
