@import '../../application/styles/variables';

.walletBlockLink {
  width: 100%;
  text-decoration: none;
}

.walletBlock {
  height: $unit * 73.5;
  margin-bottom: $unit * 5;
}

.walletBlockTitle {
  font-size: $unit * 10.5;
  font-weight: $bold;
}

.walletBlockDescription {
  font-size: $unit * 5.25;
  font-weight: 500;
  color: $blue;
}

.addDappsBlock {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.addDappsIcon {
  font-size: $unit * 17;
  line-height: $unit * 7;
}

.addDappsDescription {
  font-size: $unit * 4.25;
  margin-top: $unit * 6;
  font-weight: 500;
}
