@import '../../application/styles/variables';

.smartContractBlock {
  margin-bottom: $unit * 5;
  min-height: $unit * 36.5;
  height: unset;
  padding: $unit * 2.5;
}

.deploySCInput {
  height: 1px;
  width: 1px;
  opacity: 0;
  visibility: hidden;
}

.deploySCDesc {
  width: $unit * 100;
}

.chooseSCTypeBlock {
  margin-top: $unit * 3;
}

.scPasswordModalDesc {
  margin-bottom: $unit * 6;
}
