.passwordAdornment {
  cursor: pointer;
  margin-bottom: -4px !important;
}

.errorMessage {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ac2d2d;
}

.formControl {
  display: flex;
  align-items: center;
  width: 100%;
}
