@import 'src/styles/utils';

.box {
  display: flex;
  margin-top: 20px;
}

.majorWallet {
  display: flex;
  flex-direction: column;
  width: 384px;
  padding: 28px 46px 20px 44px;
  background: linear-gradient(106.36deg, rgb(23 104 229 / 50%) -1.83%, rgb(23 104 229 / 0%) 115.25%);
  box-shadow: inset 5px 5px 10px rgb(23 104 229 / 10%), inset -5px -5px 10px rgb(23 104 229 / 10%);
  filter: drop-shadow(20px 30px 110px rgb(0 0 0 / 12%));
  backdrop-filter: blur(65px);
  border-radius: 5px;
}

.info {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #f5f5f7;
  margin-bottom: 12px;
}

.total {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  color: #f5f5f7;
  margin-bottom: 16px;
}

.icon {
  margin-right: 12px;
}

.addressButton {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.002em;
  color: #6b798f;
  background: none;
  cursor: pointer;

  &:hover {
    @include text-gradient(linear-gradient(90deg, #1768E5 0%, #00F0FF 100%));
  }

  :active {
    @include text-gradient(linear-gradient(90deg, rgba(23, 104, 229, 0.8) 50.44%, rgba(0, 240, 255, 0.8) 129.31%));
  }
}

@include icon-colors('.addressButton');

.copyIcon {
  margin-left: 24px;
}
