// main
$unit: 4px;
$menu-width: 230px;
$app-bar-height: 50px;
$mobile: 360px;
$tablet: 768px;
$notebook: 1280px;
$desktop: 1600px;

// font
$bold: 700;

// timing
$transition-duration: 300ms;

// colors
$blue: #2997ff;
$black: #222;
$green: #12bab7;
$red: #c2183f;
