@import 'src/styles/utils';

.panel {
  display: flex;
  justify-content: space-between;
  padding: 32px 32px 60px;

  @include mobile {
    flex-direction: column;
    padding: 32px 15px 28px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  color: #f5f5f7;

  @include mobile {
    margin-bottom: 32px;
  }
}

.title {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.balance {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
}

.emptyTitle {
  color: #f5f5f7;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  opacity: 0.6;
}

.icon {
  margin-right: 12px;
}

.linksGroup {
  display: flex;
  grid-gap: 16px;

  @include mobile {
    justify-content: space-between;
  }
}

.linksGroup > * {
  width: 90px;
  height: 77px;

  @include mobile {
    flex: 1 1 auto;
  }
}

.transactions {
  padding: 30px 32px;

  @include mobile {
    padding: 40px 15px;
  }
}

.pageTitle {
  margin-bottom: 12px;
  color: #f5f5f7;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;

  @include mobile {
    font-size: 18px;
  }
}

.groupByDates {
  margin-top: 40px;
  list-style: none;

  > :not(:first-child) {
    margin-top: 40px;
  }
}

.date {
  color: #f5f5f7;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.transactionsList {
  list-style: none;
}
