@import '../../styles/variables';
@import '../../styles/mixins';

.registrationPage {
  position: absolute;
  z-index: 10000;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $black;
}

.registrationPageIcon {
  flex-shrink: 0;
  margin-top: $unit * 4;
  margin-bottom: $unit * 4;
}

.registrationPageCover {
  position: absolute;
  width: 60vw;
  height: 100vh;
  background: url('../../common/imgs/RegistraionBackground.png');
  background-size: contain;
}

.registrationTitle {
  @include text-gradient($the-power-gradient);
  font-size: $unit * 20;

  font-weight: 700;
  line-height: $unit * 16;

  @media screen and (max-width: $tablet) {
    font-size: $unit * 12;
    line-height: $unit * 10;
  }
}

.registrationDesc {
  @include text-gradient($the-power-gradient);

  margin-top: $unit * 8;
  font-size: $unit * 7;
  font-weight: 700;
  line-height: $unit * 8;

  @media screen and (max-width: $tablet) {
    margin-top: $unit * 5;
    font-size: $unit * 4;
    line-height: $unit * 8;
  }
}

.registrationNextButtonText {
  @include text-gradient($the-power-gradient);
}

.buttonsHolder {
  display: flex;
  flex-direction: row;

  @include mobile {
    flex-direction: column;

    button:first-child {
      margin-right: 0 !important;
      margin-bottom: 32px;
    }
  }

  button:first-child {
    margin-right: 60px;
  }
}

.registrationButton {
  @include the-power-color;
  width: 312px;
  height: 56px;

  border-radius: 5px;
  margin-top: $unit * 15;
  color: #f5f5f7;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: unset;

  @media screen and (max-width: $tablet) {
    width: 280px;
    height: 48px;
  }
}

.registrationWizardComponent {
  z-index: 100000;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  @media screen and (max-width: $notebook) {
    padding: $unit * 6 $unit * 4;
  }
}

.registrationWizardHolder {
  display: flex;
  max-width: 1000px;
  flex-direction: column;
  align-items: center;
  padding: 0 $unit * 26;
  border-radius: $unit * 5;
  background-color: #151516 !important;

  @media screen and (max-width: $notebook) {
    padding: $unit * 5 $unit * 4;
  }
}

.registrationWizard {
  height: 100%;
  margin-top: $unit * 5;
  background-color: transparent;

  @media screen and (max-width: $notebook) {
    margin-top: 0;
  }
}

.registrationBackground {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: $unit * 3 $unit * 21;
  border-radius: $unit * 5;
  margin-bottom: $unit * 4;
  background: linear-gradient(90deg, #1768e5 50.44%, #00f0ff 129.31%);

  div:not(:last-of-type) {
    margin-bottom: $unit * 4;
  }

  @media screen and (max-width: $notebook) {
    width: unset;
    padding: $unit * 6 $unit * 2;
  }
}

.registrationStatement {
  padding: $unit * 3 $unit * 5 $unit * 4;
  border-radius: $unit * 5;
  background: #151516;
}

.registrationStatementTitle {
  padding-bottom: $unit * 2;
  color: #2997ff;
  font-size: $unit * 4.5;
  font-weight: 500;
  line-height: $unit * 6;
  text-shadow: 0 4px 4px rgb(0 0 0 / 25%);

  @media screen and (max-width: $tablet) {
    margin-bottom: 0 !important;
  }
}

.registrationStatementDesc {
  color: #f5f5f7;
  font-size: $unit * 3.5;
  font-weight: 400;
  line-height: $unit * 4;
  text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.registrationPageTitle {
  margin-bottom: $unit * 4;
  margin-left: $unit * 5;
  color: #f5f5f7;
  font-size: $unit * 6;
  font-weight: 700;
  line-height: $unit * 7;
}

.registrationButtonsHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;

  button:nth-child(2) {
    margin-left: $unit * 3;
  }

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    align-items: center;
    margin-right: 0 !important;
    margin-left: 0 !important;

    button:nth-child(2) {
      margin-left: 0;
    }
  }
}

.registrationNextButton {
  @include the-power-color;
  width: 178px;
  height: 48px;
  border-radius: 5px;

  margin-top: $unit * 4;
  margin-bottom: $unit * 5;
  color: #f5f5f7;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: unset;

  &_outlined {
    @include border-gradient;
    padding: 0 !important;
    background: #121923;

    @include mobile {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.loginRegisterAccountTitle {
  width: 100%;
  color: #f5f5f7;
  font-size: $unit * 6;
  font-weight: 700;
  line-height: $unit * 7;
  text-align: center;
}

.loginRegisterAccountBreadCrumb {
  @include the-power-color-text;
  width: 100%;
  height: 34px !important;

  border-bottom: 2px #2e3642 solid !important;
  margin: 0 !important;
}

.loginRegisterAccountWizard {
  height: 100%;
  padding: $unit * 5 $unit * 16;
  border-radius: $unit * 5;
  background: #151516;
}

.loginRegisterAccountHolder {
  display: flex;
  width: 100%;
  min-height: 370px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 45px;
  padding-bottom: 46px;
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
  background: #151516;

  @media screen and (max-width: $tablet) {
    padding: 20px;
  }
}

.registrationFormHolder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.registrationFormDesc {
  display: flex;
  align-items: center;
  margin-top: 48px;
  color: #f5f5f7;
  font-size: $unit * 3.3;
  font-weight: 400;
  line-height: $unit * 4;
  white-space: pre-line;
}

.loginRegisterAccountCreateSelect {
  width: 168px;
  height: 34px;
}

.loginRegisterAccountCreateSelectMenu {
  z-index: 15000;
}

.seedPhraseTitle {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  color: #f5f5f7;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;

  @media screen and (max-width: $tablet) {
    justify-content: center;
  }
}

.loginTextArea {
  width: 502px;
  min-height: 64px;
  border-radius: 20px;
  background: #252b35;
  gap: 10px;

  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}

.setSeedPhraseHolder {
  width: 100%;

  div:last-of-type {
    @media screen and (max-width: $tablet) {
      width: 100%;
    }
  }
}

.confirmSeedPhraseHolder {
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 132px auto 172px;

  @media screen and (max-width: $tablet) {
    width: 100%;
    margin: 36px 0 72px;
  }

  div:last-of-type {
    @media screen and (max-width: $tablet) {
      width: 100%;
    }
  }
}

.confirmSeedPhraseTitle {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
  color: #f5f5f7;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;

  @media screen and (max-width: $tablet) {
    justify-content: center;
    font-size: 24px;
  }
}

.confirmSeedPhraseError {
  color: #ac2d2d;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.encryptKeyHolder {
  display: flex;
  width: 451px;
  height: 305px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
  background: #151516;

  @media screen and (max-width: $tablet) {
    width: unset;
    height: unset;
    padding: 32px 20px;
  }
}

.passwordInput {
  width: 280px;
  height: 48px;
  border-radius: 5px;
  background: #1d242e;

  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}

.passwordInputPadded {
  margin-bottom: 16px;
}

.importAccountFormHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.importAccountInput {
  width: 1px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
}

.importAccountButton {
  margin-top: 32px;
  background: #151516;
}

.importAccountButtonLabel {
  @include text-gradient($the-power-gradient);

  margin-left: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.importAccountFormDesc {
  display: flex;
  align-items: center;
  margin-top: 48px;
  color: #f5f5f7;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  white-space: pre-line;
}

.exportModalTitleHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
}

.exportModalContent {
  max-width: 600px !important;
  padding-top: 42px;
  padding-bottom: 42px;
  background: #121923;

  @media screen and (max-width: $tablet) {
    max-width: unset !important;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.exportModalTitle {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 20px;
  text-align: center;

  &:not(:last-of-type) {
    margin-bottom: 12px;
  }
}

.exportModalHintDesc {
  margin-top: 28px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 20px;
  text-align: center;
}

.exportModalHintTextArea {
  width: 280px;
  min-height: 48px;
  border-radius: 5px;
  margin-bottom: 32px;
  background: #1d242e;

  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}

.importModalContent {
  max-width: 384px !important;
  padding: 64px 50px 56px;
  background: #121923;

  @media screen and (max-width: $tablet) {
    max-width: unset !important;
    padding: 42px 20px;
  }
}

.importModalPasswordInput {
  margin-top: 36px;
  margin-bottom: 90px;
}

.loginPageBackground {
  display: flex;
  width: 95vw;
  max-width: 1072px;
  height: auto;
  align-items: center;
  padding: 40px 16px;
}

.loginPagePart {
  display: flex;
  max-width: 380px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 32px 50px;
  border-radius: 20px;
  background: #151516;

  @include mobile {
    width: 100%;
    max-width: unset;
    padding: 32px 16px;
  }
}

.loginPageFormsHolder {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  margin-top: 16px;

  @include mobile {
    flex-direction: column;
  }

  .loginPagePart:nth-child(1) {
    margin-right: 40px;

    @include mobile {
      margin-right: 0 !important;
    }
  }
}

.loginPagePartTitle {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px !important;
  color: #f5f5f7;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.loginPagePartDesc {
  color: #f5f5f7;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.loginPageImportButton {
  margin-top: 60px;
}
